body{
    font-family: sans-serif;
    font-size: 15px;
    line-height: 1.5;   /*this is the amount of space between each line
                            also you can do font: 15px, 1.5, sans-serif; and it will do
                            font-size, line-height, and font-family respectivelt in one line*/
    background: #f4f4f4;
    padding: 0;
    margin: 0;
}

.container{
    width:80%;
    margin:auto; /* set margin to auto so everything moves to the middle */
    overflow:hidden; /*not sure what this is for */
}

ul{ /* we are just naming it ul because it is for anything that's labeled or within the ul tag in our HTML document */ 
    margin: 0;
    padding: 0;
} 

.button_1{
    height: 38px;
    background: #e8491d;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}

.dark{
    padding: 15px;
    background: #35424a;
    color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 10px;
}

header{
    background: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid; 
}

header a{
    color: #ffffff;
    text-decoration:none;
    text-transform:uppercase;
    font-size:16px;
}

header li{ /* we call it header li because this is for the list items (home, about, services) themselves */
    display: inline;
    padding: 0 20px 0 20px /* padding goes top, right, bottom, left in that order */
}

header #branding{
    float:left;
}

header #branding h1{
    margin:0;
}

header nav{
    float:right;
    margin-top: 10px;
}

header .highlight, header .current a{
    color: #e8491d;
    font-weight: bold;
}

header a:hover{
    color: #cccccc;
    font-weight: bold;
}  /* this will change the color of  "Home" on the website as you hover over it */

/* below is for the showcase id (#showcase) */

#showcase{
    min-height: 400px;
    background: black; /* for more info on how to use an actual image instead of a color, go to 34 minutes on the video tutorial */
    color: white;
    text-align: center;
}

#showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}

#showcase p{
    font-size: 20px;
}

/* below is for the newsletter id (#newsletter) */

#newsletter{
    padding: 15px;
    color: white;
    background: #35424a
}

#newsletter h1{
    float:left;
}

#newsletter form{
    float:right;
    margin-top: 15px;
}

#newsletter input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
}

/* below is for the boxes id (#boxes) */

#boxes{
    margin-top: 20px;
}

#boxes .box{
    float:left;
    width: 30%;
    padding: 10px;
    text-align: center;
}

#boxes .box img{
    width: 100px;
}

/* below is for the sidebar on the about page */

aside#sidebar{
    float:right;
    width: 30%;
    margin-top: 10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
    width: 90%;
    padding: 5px;
}

/*below is for main-col (a.k.a main coloumn) ...to get a main column on the left side of the about page */
article#main-col{
    float:left;
    width: 65%;
}

ul#services li{
    list-style: none;
    padding: 20px;
    border: #cccccc solid 1px;
    margin-bottom: 5px;
    background: #e6e6e6;

}

footer{
    padding: 20px;
    margin-top: 20px;
    color: #FFFFFF;
    background-color: #e8491d;
    text-align: center;
}

/* media queries = allows our website to look good on any device (ex: on phones)
media queries is set up as a function **look at how it's set up below** */


@media(max-width: 768px){
    header #branding,
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form,
    #boxes .box,
    article#main-col,
    aside#sidebar{
        float:none;
        text-align: center;
        width: 100%;
    }

    header{
        padding-bottom: 20px;
    }

    #showcase h1{
        margin-top: 40px;
    }

    #newsletter button, .quote button{
        display:block;
        width: 100%;
    }

    #newsletter form input[type="email"], .quote input, .quote textarea{
        width: 100%;
        margin-bottom: 5px;
    }
}
